<% if @features.empty? %>

<% else %>
  <div class="blankslate">
    <span class="mega-octicon octicon-plus"></span>
    <span class="mega-octicon octicon-list-unordered"></span>
    <span class="mega-octicon octicon-zap"></span>
    <h3>But I've got a blank space baby...</h3>
    <p>And I'll flip your features.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/e-ORhEE9VVg" frameborder="0" allowfullscreen></iframe>
  </div>
<% end %>
