<% if @show_blank_slate %>
  <div class="blankslate">
    <span class="mega-octicon octicon-plus"></span>
    <span class="mega-octicon octicon-list-unordered"></span>
    <span class="mega-octicon octicon-zap"></span>
    <h3>But I've got a blank space baby...</h3>
    <p>And I'll flip your features.</p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/e-ORhEE9VVg" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
<% else %>

  <%
  {
    "Enable" => "enabled",
    "Conditionally Enabled" => "conditional",
    "Disabled" => "disabled",
  }.each do |title, ivar| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= title %></h3>
    </div>

    <ul class="list-group">
      <% instance_variable_get("@#{ivar}").each do |feature| %>
        <li class="list-group-item">
          <a href="<%= "#{script_name}/features/#{feature.key}" %>">
            <%= feature.key %></a>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
<% end %>
