<% @features.each do |feature| %>
  <div class="feature">
    <h3><span class="state enabled"></span><%= titleize feature.name %></h3>

    <div class="description">
      Enabled
    </div>

    <div class="actions">
      <a href="#">Change Settings</a>
    </div>
  </div>
<% end %>
