<div id="features">
  <p>loading indicator...</p>
</div>

<div id="no_features">
  <h1>Ready to start flipping?</h1>
  <p>You haven't created any features yet</p>
  <p>Start by reading the <a href='https://github.com/jnunemaker/flipper#usage'>flipper readme</p>
</div>
