<% @features.each do |feature| %>
  <div class="feature" id="feature-<%= feature.html_id %>">
    <h3><span class="state <%= feature.state %>"></span><%= feature.pretty_name %></h3>

    <div class="description">
      <%=h feature.description %>
    </div>

    <div class="actions">
      <a href="#">Change Settings</a>
    </div>
  </div>
<% end %>
