<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flipper</title>
    <link rel="stylesheet" type="text/css" href="/flipper/css/application.css">
  </head>
  <body>
    <div id="header">
      <h1><a href="/">Flipper</a></h1>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
