<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flipper</title>
    <link rel="stylesheet" type="text/css" href="/flipper/css/application.css">
    <script src="/flipper/js/jquery.min.js"></script>

    <script src="/flipper/js/handlebars.js"></script>
    <script src="/flipper/js/spine/spine.js"></script>
    <script src="/flipper/js/spine/ajax.js"></script>
    <script src="/flipper/js/spine/route.js"></script>
    <script src="/flipper/js/spine/manager.js"></script>

    <script src="/flipper/js/application.js"></script>
  </head>
  <body>
    <div id="app">
      <div id="header">
        <h1><a href="/">Flipper</a></h1>
      </div>

      <div id="content">
        <%== yield %>
      </div>
    </div>

    <script id="feature-template" type="text/x-handlebars-template">
      <div class="feature" id="feature-{{id}}">
        <div class="show">
          <h3>
            <span class="state {{state}}"></span>
            {{name}}
            <span class="description">{{description}}</span>
          </h3>

          <div class="actions">
            <a href="#" class="show-settings">Change Settings</a>
          </div>
        </div>

        <div class="edit">
          <h3>
            {{name}}
            <span class="description">Settings</span>
          </h3>

          <div class="actions">
            <a href="#" class="hide-settings">Cancel</a>
          </div>

          <div class="tabs">
            <ul>
              <li><a href="#" data-tab="boolean">All On/All Off</a></li>
              <li><a href="#" data-tab="group">Groups</a></li>
              <li><a href="#" data-tab="actor">Actors</a></li>
              <li><a href="#" data-tab="percentage_of_actors">
                Percentage Of Actors</a></li>
              <li><a href="#" data-tab="percentage_of_random">
                Percentage Of Random</a></li>
            </ul>
          </div>

          <div class="gates"></div>
        </div>
      </div>
    </script>

    <script id="gate-boolean-template" type="text/x-handlebars-template">
      <form action="/flipper/features/{{feature_id}}/boolean" method="POST">
        <input type="radio" name="value" value="true" {{#value}}checked="checked"{{/value}} /> On
        <input type="radio" name="value" value="false" {{^value}}checked="checked"{{/value}} /> Off
        <button>Save Settings</button>
      </form>
    </script>

    <script id="gate-group-template" type="text/x-handlebars-template">
      <ul>
        {{#each value}}
          <li>
            {{this}}
          </li>
        {{/each}}
      </ul>
    </script>

    <script id="gate-actor-template" type="text/x-handlebars-template">
      actor
    </script>

    <script id="gate-percentage-of-actors-template" type="text/x-handlebars-template">
      <form action="/flipper/features/{{feature_id}}/percentage_of_actors" method="POST">
        <label>
          Percentage
          <input type="text" name="value" value="{{value}}" />
        </label>
        <button>Save Settings</button>
      </form>
    </script>

    <script id="gate-percentage-of-random-template" type="text/x-handlebars-template">
      <form action="/flipper/features/{{feature_id}}/percentage_of_random" method="POST">
        <label>
          Percentage
          <input type="text" name="value" value="{{value}}" />
        </label>
        <button>Save Settings</button>
      </form>
    </script>

  </body>
</html>
